<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChangePassWord</title>
</head>
<body>
{% import 'layout.html' as layout with context -%}

<form method="post">
    {{ layout.messages }}
    {{ form.csrf_token() }}
    {{ form.password_Old.label}}
    {{ form.password_Old(size=32,class='form-control',placeholder="Password" ,minlength = 8, maxlength = 50)}}
    <br>
    {{ form.password_New.label}}
    {{ form.password_New(size=32,class='form-control',placeholder="Password" ,minlength = 8, maxlength = 50)}}
    <br>
    {{ form.password_Comfirm.label}}
    {{ form.password_Comfirm(size=32,class='form-control',placeholder="Password" ,minlength = 8, maxlength = 50)}}
    <button type="submit">Change Password</button>
</form>
</body>
</html>