{% extends 'admin/base.html' %}

{% block body %}
    <div class="row">
        <div class="col-6">
            <form method="post">

                {% set form = params.get('form') %}
                {{ form.csrf_token() }}
                {{ form.password_Old.label }}
                {{ form.password_Old(class='form-control',placeholder="Password" ,minlength = 8, maxlength = 50) }}
                <br>
                {{ form.password_New.label }}
                {{ form.password_New(class='form-control',placeholder="Password" ,minlength = 8, maxlength = 50) }}
                <br>
                {{ form.password_Comfirm.label }}
                {{ form.password_Comfirm(class='form-control',placeholder="Password" ,minlength = 8, maxlength = 50) }}
                <button type="submit" class="btn btn-primary " style="margin-top:1em ">Change Password</button>
            </form>
        </div>
    </div>

{% endblock %}