{% extends 'register.html' %}
{% block body %}
    <div class="container" style="margin-top: 150px" >
        <div class="confirm-col row ">
            <div class="col-3">
                <h1 class="text-white">
                    Confirm email {{ params.get('email') }}

                </h1>

                <form action="{{ url_for('confirm_account',idf = params.get('idf',request.args.get('idf')) )  }}" method="post">
                    <input type="text" class="form-control" name="confemail" minlength="4">
                    <button type="submit" class="btn btn-danger">Confirm</button>
                </form>

            </div>
        </div>
    </div>
{% endblock %}