<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Sign In</h1>
    <form action="{{ url_for("ChangePass") }}" method="post">
        {{ form.hidden_tag() }}
        <p>

            {{ form.password_Old.label }}<br>
            {{ form.password_Old(size=32) }}
            {% for error in form.password_Old.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

        </p>
        <p>

            {{ form.password_New.label }}<br>
            {{ form.password_New(size=32) }}
            {% for error in form.password_New.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
         <p>

            {{ form.password_Comfirm.label }}<br>
            {{ form.password_Comfirm(size=32) }}
            {% for error in form.password_Comfirm.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>