<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        {% block title %}
            <title>Home-Admin</title>
        {% endblock %}


        <link href="{{ url_for('static',filename = 'admin2/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static',filename = 'admin2/css/waves.min.css') }}" type="text/css" rel="stylesheet">

        <link href="{{ url_for('static',filename = 'admin2/css/menu-light.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ url_for('static',filename = 'admin2/css/style.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ url_for('static',filename = 'admin2/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">

        {% block css_header %}
        {% endblock %}
    {% endblock %}
</head>
<body>
<!-- Static navbar -->

<nav class="navbar navbar-default yamm navbar-fixed-top">
    {% block nav_header_top %}
        {% include 'admin/navheader.html' %}
    {% endblock %}

</nav>
<section class="page">

    {% block nav_left %}
        {% include 'admin/navleft.html' %}
    {% endblock %}

    <div id="wrapper">
        {% block messages %}
            {% import 'layout.html' as layout with context -%}
            {{ layout.messages() }}
        {% endblock %}


        <div class="content-wrapper container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <h1> {{ params.get('title') }} <small></small></h1>
                        <ol class="breadcrumb">
                            <li><a href="{{ '/admin' if current_user.user_role.name =='admin' else '/user' }}"><i class="fa fa-home"></i></a></li>
                            <li class="active">{{ params.get('title') }}</li>
                        </ol>
                    </div>
                </div>
            </div><!-- end .page title-->
            {% block body %} {% endblock %}
        </div>

    </div>


</section>


{% block script %}
    {% import 'admin/lib.html' as lib with context -%}
    {{ lib.lib_base() }}
{% endblock %}
</body>


</html>
